html {
    scroll-padding-top: 110px;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}
    
@font-face {
    src: url('../fonts/SourceSansPro/SourceSansPro-Regular.ttf');

    font-family: 'Source Sans Pro';
    font-weight: normal;
    font-style: normal;
}