@import "variables";

.button {
    display: block;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    padding: 1em 1.5em;
    
    color: $background-color;
    background-color: $primary-color;
    border-radius: 1em;
    box-shadow: none;
    text-align: center;

    @include generic-transition;
    @include hover-sizing;

    &:hover {
        color: $background-color;
        background-color: darken($primary-color, 20%);
    }

    &.secondary {
        background-color: $gray-color;

        &:hover {
            background-color: darken($gray-color, 20%);
        }
    }

    .icon {
        vertical-align: middle;
        margin-right: 0.3em;
    }

    > * {
        vertical-align: middle;
        display: inline-block;
    }

    @include media(sm) {
        display: inline-block;
    }
}