@import "variables";

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
}

a {
    color: $primary-color;
    text-decoration: none;

    @include generic-transition;

    &:hover {
        color: darken($primary-color, 20%);
        // transform: rotate(-5deg);
    }
}

// @media (prefers-color-scheme: dark) {
//     html {
//         color-scheme: dark;
//     }
//     body {
//         color: white;
//         background: #111;
//     }
// }
