@import "variables";

.main {
    padding: 0 2em;
    @include max-width;

    @include media(md) {
        padding: 0 4em;
    }
    
    > h1:first-child {
        font-size: 3em;
    }
}

.hero {
    display: flex;
    gap: 1em;
    flex-direction: column;
    margin-bottom: 4em;

    font-size: 130%;
    text-align: center;

    > * {
        flex: 2;
    }

    > img {
        flex: 1;
        height: 100%;
        border-radius: $rounded-corner-rad;
    }

    h1 {
        font-size: 220%;
    }

    @include media(md) {
        padding-top: 2em;
        flex-direction: row;

        text-align: left;

        h1 {
            display: inline-block;
            padding-right: 18px;
        }
    }
}