@import "variables";

.main {
    padding: 0 2em;
    @include max-width;

    @include media(md) {
        padding: 0 4em;
    }
    
    > h1:first-child {
        font-size: 3em;
    }
}

.hero {
    display: flex;
    padding: 0 8%;
    margin-bottom: 4em;

    text-align: center;
    font-size: 130%;

    > * {
        flex: 1;
    }

    > img {
        height: 100%;
        border-radius: 2em;
    }

    h1 {
        font-size: 220%;
    }

    @include media(md) {
        padding: 0 10%;
        padding-top: 2em;
        text-align: left;

        h1 {
            display: inline-block;
            padding-right: 18px;
        }
    }

    @include media(lg) {
        padding: 0 15%;
    }
}