@import "variables";

.navigation {
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 2em 0;
    @include max-width;

    font-size: 125%;
    font-weight: bolder;

    > svg {
        position: absolute;
        fill: #f4f2ff;
        top: 0;
        left: 0;
    }

    .emoji, .links {
        flex: content;
    }

    .emoji {
        font-size: 250%;
    }
    
    .links {        
        a {
            display: inline-block;
            padding: 1em;
            text-transform: lowercase;
        }
    }

    @include media(md) {
        flex-direction: row;
        padding: 2em 2em;

        .emoji {
            text-align: left;
        }
        
        .links {
            text-align: right;
        }
    }

    @include media(lg) {
        justify-content: space-between;
    }
}