@import "variables";

.navigation {
    display: flex;
    text-align: center;
    flex-direction: column;
    column-gap: 2em;
    padding: 1.5em 0;
    @include max-width;
    max-width: map-get($media, xl);

    font-size: 125%;
    font-weight: 600;

    .emoji {
        font-size: 250%;
        display: inline-block;

        &:hover {
            transform: rotate(-5deg);
        }
    }
    
    .links {        
        a {
            display: inline-block;
            padding: 1em;
            text-transform: lowercase;

            &:hover {
                transform: rotate(-5deg);
            }
        }
    }

    @include media(md) {
        justify-content: center;
        flex-direction: row;
        padding: 2em 2em;
    }

    @include media(lg) {
        justify-content: space-between;
    }
}