// Variables
$primary-color: rgb(221, 67, 67);
$secondary-color: rgb(132, 42, 42);
$tertiary-color: rgb(67, 20, 20);
$background-color: rgb(255, 255, 255);
$gray-color: rgb(81, 81, 81);

$rounded-corner-rad: 1.5em;

$media: (
    sm: 640px,
    md: 768px,
    lg: 1024px,
    xl: 1280px,
    "2xl": 1536px,
);

// Mixins
@mixin media($breakpoint) {
    @each $breakpoints, $size in $media {
        @if $breakpoint==$breakpoints {
            @media screen and (min-width: $size) {
                @content;
            }
        }
    }
}

@mixin max-width {
    max-width: map-get($media, lg);
    margin: 0 auto;
}

@mixin generic-transition {
    transition-property: color, background-color, transform, filter;
    transition-duration: 0.2s;
    transition-timing-function: ease;
}

@mixin hover-sizing {
    &:hover {
        transform: scale(1.025);
    }

    &:active {
        transform: scale(.95);
    }
}

// Animations
@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}